:root{
    --base-color:
    white;
    --base-variant:
    #e8e9ed;
    --text-color:
    #111528;
    --secondary-text:F
    #232738;
    --primary-color:
    #3a435d;
    --accent-color:
    #0071ff;
}