@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --shadow: none;
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan;
}
body{
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
}
p{
    margin: 10px 0 20px 0;
    color: var(--secondary-text);
    text-shadow: var(--shadow);
  }
h2{
   color: var(--secondary-text);
   text-shadow: var(--shadow);
}
#select-banks{
  background-color: var(--base-color);
}
#theme-switch{
    cursor: pointer;
height: 50px;
width: 50px;
padding: 0;
border-radius: 50%;
background-color: var(--base-variant);
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 20px;
right: 20px;
z-index: 1000000;
}
#theme-switch svg{
    fill: var(--primary-color);
  }
  #theme-switch svg:last-child{
    display: none;
  }
  .darkmode #theme-switch svg:first-child{
    display: none;
  }
  .darkmode #theme-switch svg:last-child{
    display: block;
  }